<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja level1 exercize</title>
    <style>
        h1 {color:red;}
        p {color:blue;}
        button {padding: 5px;
                margin: 10px;}
</style>
</head>
<body>
    <form method="POST" action="/oauth2/github/login" enctype="multipart/form-data">
        <button type="submit">Log in with github</button>
    </form>
    <form method="POST" action="/oauth2/amazon/login" enctype="multipart/form-data">
        <button type="submit">Log in with amazon</button>
    </form>
</body> 