<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja level1 exercize</title>
</head>
<body>
    <p> {{if .ErrorMsg}} Error Message: {{.ErrorMsg}}{{end}}</p>
    <h1>Register:</h1>
    <form method="POST" action="/process" enctype="multipart/form-data">
        <p>Input email:</p>
        <input type="email" name="email" placeholder="email" required>
        <p>Input password:</p>
        <input type="password" name="password" required>
        <button type="submit">Submit!</button>
    </form>
    <h1>Login:</h1>
    <form method="POST" action="/login" enctype="multipart/form-data">
        <p>Input email:</p>
        <input type="email" name="email" placeholder={{.Email}} required>
        <p>Input password:</p>
        <input type="password" name="password" required>
        <button type="submit">Submit!</button>
    </form>

</body>    
