<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{/* <meta http-equiv="refresh" content=1;url="/"> */}}
    <title>Ninja level1 exercize</title>
    <style>
        h1 {color:red;}
        p {color:blue;}
        button {padding: 5px;
                margin: 10px;}
</style>
</head>
<body>
    <h1>{{if .Email}} You are logged in as: {{.Email}}{{else}} You are not logged in!{{end}}</h1>
    <p> {{if .Msg}} Message: {{.Msg}}{{end}}</p>
    <h1>Register:</h1>
    <form method="POST" action="/process" enctype="multipart/form-data">
        <p>Input name:</p>
        <input type="text" name="name" placeholder="name">
        <p>Input age:</p>
        <input type="text" name="age" placeholder="age">
        <p>Input email:</p>
        <input type="email" name="email" placeholder="email" required>
        <p>Input password:</p>
        <input type="password" name="password" required>
        <input type="checkbox" name="terms" id="terms" checked>
        <label for="terms">Accept terms of Service</label>
        <button type="submit">Submit!</button>   
    </form>
    <h1>Login:</h1>
    <form method="POST" action="/login" enctype="multipart/form-data">
        <p>Input email:</p>
        <input type="email" name="email" placeholder="email" required>
        <p>Input password:</p>
        <input type="password" name="password" required>
        <button type="submit">Submit!</button>
    </form>
    <form method="POST" action="/oauth2/github/login" enctype="multipart/form-data">
        <button type="submit">Log in with github</button>
    </form>
    <form method="POST" action="/oauth2/amazon/login" enctype="multipart/form-data">
        <button type="submit">Log in with amazon</button>
    </form>
    <h1>Log out</h1>
    <form method="POST" action="/logout" enctype="multipart/form-data">
        <button type="submit">Logout!</button>
    </form>
</body>    
