<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja level1 exercize</title>
</head>
<body>
    <h1>Register Page</h1>
    <p> {{if .ErrorMsg}} Error Message: {{.ErrorMsg}}{{end}}</p>

    <form method="POST" action="/process" enctype="multipart/form-data">
        <input type="email" name="email" placeholder={{.Email}} required>
        <input type="password" name="password" required>
        <button type="submit">Submit!</button>
    </form>
</body>    
