<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja level 02 exercizes</title>
</head>
<body>
    <p> {{if .ErrorMsg}} Error Message: {{.ErrorMsg}}{{end}}</p>
    <h2>You are now logged in as {{.Email}}</h2>
</body> 